mixin testimonials()

  section.section.testimonials&attributes(attributes)
    .testimonials__inner.container
      .section__description.testimonials__description
        h2 Люди о нас
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci animi assumenda obcaecati similique minima, debitis, consequuntur at vero fugit nihil nat

      .testimonials__container
        ul.testimonials__list
          li.testimonials__item
            h3.testimonials__author Author Author
            p.testimonials__text Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illo id rerum deserunt iure libero enim laudantium perspiciatis fugit in debitis error reiciendis dolore facilis animi quam fuga dolorum commodi, itaque earum reprehenderit qui. Nam, dignissimos?
