.testimonials {
  $c: &;

  &__description {
    margin-bottom: 40px;
  }

  &__list {
    @include list-reset;
  }

  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35px 20px;
    height: auto;
    border-radius: 8px;
    border: 1px solid rgba($color: $color-black, $alpha: 0.2);

    h3 {
      @include font(22, 34);
      margin: 0 0 30px 0;
    }

    p {
      @include font(16, 22);
      margin: 0;
      text-align: center;
    }
  }

  &__icon {
    position: absolute;
    left: 13px;
    top: -21px;
    background-color: $color-white;

    svg {
      width: 50px;
      height: 50px;
      opacity: 0.5;
    }

    @include min-tablet {
      left: 33px;
      top: -20px;
    }
  }

  &__slider {
    @include full-width-vw;
    padding: 20px 20px 40px;

    @include min-tablet {
      padding: 40px;
    }

    @include min-laptop {
      padding: 40px 80px;
    }

    @include min-desktop {
      position: relative;

      &::after {
        @include pseudo;
        position: absolute;
        z-index: 100;
        top: 0;
        right: -10px;
        bottom: 0;
        width: 40px;
        background: linear-gradient(90deg, $color-transparent, $color-white);
      }

      &::before {
        @include pseudo;
        position: absolute;
        z-index: 100;
        top: 0;
        left: -10px;
        bottom: 0;
        width: 40px;
        background: linear-gradient(-90deg, $color-transparent, $color-white);
      }
    }

    @include min-laptop-wide {
      padding: 40px 120px;
    }
  }

  &__btn {
    position: absolute;
    z-index: $layer-toggler;
    -webkit-tap-highlight-color: $color-transparent;
  }

  &__btn {
    @include transition(box-shadow);
    display: none;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    color: $color-black;
    border-radius: 50%;
    box-shadow: $shadow2;
    background-color: $color-white;

    &:hover {
      box-shadow: $shadow3;
    }

    &::after {
      display: none;
    }

    &--prev {
      svg {
        transform: rotate(180deg);
      }
    }

    @include min-laptop {
      right: 30px;
      display: flex;

      &--prev {
        right: auto;
        left: 30px;
      }
    }
  }

  &__pagination {
    .swiper-pagination-bullet-active {
      background-color: $color-blue !important;
    }
  }
}
