mixin promo()

  section.section.promo&attributes(attributes)
    .promo__inner
      h2.promo__title Drum Legends
      p.promo__text Учись у легенд &#8212; становись легендой!
    .promo__image
      +img({path: '', image: 'promo-bg', format: 'jpg', width: 1920, height: 1280, altText: 'Изображение барабанной установки с барабанщиком и гитаристом'})
