mixin about()

  section.section.about&attributes(attributes)
    .about__inner.container
      .section__description
        h2 О проекте
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad eos sequi similique ipsa. Optio fugit quae, numquam quo cum inventore autem quia velit laborum, deserunt nihil laudantium aliquam porro sequi ducimus repellat dolore odit! Repellendus dignissimos facere, fugiat architecto unde expedita cum consectetur commodi maiores aliquid veritatis minus et sequi.
