mixin form()

  form.form(action="#" method="POST" data-form)&attributes(attributes)
    .form__success-message(data-success)
      button(type="button", data-close, aria-label="Закрыть сообщение об успехе отправки формы")
        +icon({name: 'icon-close', width: 10, height: 10})
      p Заявка успешно отправлена. В скором времени с вами свяжутся.
    .form__row
      label.form__label(for="name") Имя:
      input.form__input#name(type="text" name="name")
    .form__row
      label.form__label(for="phone") Номер телефона:
      input.form__input#phone(type="tel" name="phone")
    .form__row
      label.form__label(for="comment") Ваш комментарий:
      textarea.form__input.form__comment#comment(name="comment")
    .form__row.form__checkbox-row
      //- input.form__checkbox.visually-hidden#privacy(type="checkbox" checked="true")
      span(class="wpcf7-form-control-wrap" data-name="privacy")
        span(class="wpcf7-form-control wpcf7-acceptance")
          span(class="wpcf7-list-item")
            input(type="checkbox" name="privacy" value="1" aria-invalid="false" class="form__checkbox visually-hidden" id="privacy")
      label.form__checkbox-label(for="privacy")
        span.form__checkmark(data-checkmark)
          +icon({name: 'icon-check', width: 15, height: 15})
        span Вы согласны с&nbsp;
          a(href="#") пользовательским соглашением
    button.button.button--primary.form__submit(type="submit") Отправить
