.form {
  $c: &;

  display: flex;
  flex-direction: column;

  &__success-message {
    display: none;
    position: relative;
    margin: 0 auto 20px;
    padding: 10px;
    border: 2px solid rgba($color: $color-green, $alpha: 0.8);
    border-radius: 10px;
    text-align: center;

    button {
      @include button-reset;
      position: absolute;
      right: 5px;
      top: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 20px;
      height: 20px;
    }

    &.active {
      display: block;
    }

    @include min-tablet {
      padding: 20px;
    }
  }

  &__row {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }

  &__label {
    @include font(16, 24);
    @include interactive-opacity;
    align-self: flex-start;
    margin-bottom: 5px;
    font-weight: 500;
    cursor: pointer;
  }

  &__input {
    display: flex;
    align-items: center;
    padding: 0 20px;
    min-height: 40px;
    border: 1px solid rgba($color: $color-black, $alpha: 0.3);
    border-radius: 8px;
    background-color: $color-white;

    &:focus {
      outline: none;
      border: 2px solid rgba($color: $color-black, $alpha: 0.7);
    }

    &--error {
      border: 2px solid rgba($color: $color-red, $alpha: 0.7);
    }

    &--success {
      border: 2px solid rgba($color: $color-green, $alpha: 0.7);
    }
  }

  &__comment {
    padding: 20px;
    min-height: 80px;
  }

  &__checkbox-label {
    position: relative;
    padding-left: 60px;
    cursor: pointer;

    a {
      @include interactive-opacity;
      color: $color-black;
      text-decoration: underline;
    }
  }

  &__checkmark {
    position: absolute;
    left: 20px;
    top: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    border: 1px solid rgba($color: $color-black, $alpha: 0.3);
    border-radius: 8px;
    transform: translateY(-50%);

    svg {
      display: none;
    }
  }

  &__checkbox-row {
    align-items: center;
    margin-bottom: 40px;
  }

  input[type="checkbox"]:checked + label #{$c}__checkmark svg {
    display: block;
  }

  &__error-message {
    margin-top: 4px;
    color: $color-red;
  }

  &__submit {
    padding: 0 40px;
    align-self: center;
  }

  @include min-tablet {
    margin: 0 auto;
    max-width: 70%;
  }

  @include min-desktop {
    max-width: 50%;
  }
}
