mixin contact()

  section.section.contact#contact&attributes(attributes)
    .section__inner.container
      .section__description.contact__description
        h2 Записаться на урок
        p Lorem ipsum dolor sit amet consectetur adipisicing elit.
      .contact__container
        +form().contact__form
