// Default

$color-black-default: #000000;
$color-white-default: #ffffff;
$color-transparent: rgba(255, 255, 255, 0);

$color-white: #fcfcfc;
$color-black: #37393a;
$color-red: #f95738;
$color-green: #4c9f70;
$color-blue: #6279b8;

// Typography
//---------------------------------

$font-main: "OpenSans", "Arial", sans-serif;
$font-title: "Oswald", "Montserrat", sans-serif;

// Styles
//---------------------------------

$shadow1: 0 1px 5px
  rgba(
    $color: $color-black,
    $alpha: 0.5,
  );
$shadow1-hover: 0 2px 7px
  rgba(
    $color: $color-black,
    $alpha: 0.5,
  );

// Animation
//---------------------------------

$default-transition-duration: 0.2s;
$default-transition-easing: ease;
$default-transition-settings: $default-transition-duration $default-transition-easing;

// Viewports
//---------------------------------

$mobile-small: 320px;
$tablet: 768px;
$laptop: 1024px;
$desktop: 1440px;
$desktop-wide: 1920px;

// Retina
//---------------------------------

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
