// Default

$color-black-default: #000000;
$color-white-default: #ffffff;
$color-transparent: rgba(255, 255, 255, 0);

$color-white: #fcfcfc;
$color-light: #fdfffc;
$color-black: #37393a;
$color-red: #f95738;
$color-green: #4c9f70;
$color-blue: #2a73c3;
$color-dark-blue: #32325d;
$color-dark-blue2: #26394d;

// Typography
//---------------------------------

$font-main: "OpenSans", "Arial", sans-serif;
$font-title: "Oswald", "Montserrat", sans-serif;

// Styles
//---------------------------------

$shadow1: 0 1px 5px
  rgba(
    $color: $color-black,
    $alpha: 0.5,
  );
$shadow1-hover: 0 2px 7px
  rgba(
    $color: $color-black,
    $alpha: 0.5,
  );
$shadow2: 0 5px 5px
  rgba(
    $color: $color-black,
    $alpha: 0.3,
  );
$shadow3: rgba($color-dark-blue, 0.25) 0px 13px 27px -5px, rgba($color-black, 0.3) 0px 8px 16px -8px;
$shadow3-hover: rgb($color-dark-blue2, 0.6) 0px 20px 30px -10px;

// Animation
//---------------------------------

$default-transition-duration: 0.2s;
$default-transition-easing: ease-in;
$default-transition-settings: $default-transition-duration $default-transition-easing;

// Viewports
//---------------------------------

$mobile-small: 320px;
$tablet: 768px;
$laptop: 1024px;
$laptop-wide: 1280px;
$desktop: 1440px;
$desktop-wide: 1920px;

// Retina
//---------------------------------

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

// Layers
//---------------------------------

$layer-basic: 10;
$layer-header: 20;
$layer-toggler: 100;
