mixin footer()

  footer.footer&attributes(attributes)
    .footer__inner.container
      .footer__col
        span.footer__logo Drum Legends
      .footer__col
        ul.footer__tels
          li
            a(href="tel:79999999999") +7 (999) 999 99 99
          li
            a(href="tel:79999999999") +7 (999) 999 99 99
      .footer__col
        ul.footer__links
          li
            a(href="#") Ссылка на что-то
          li
            a(href="#") Ссылка на что-то
          li
            a(href="#") Ссылка на что-то
      .footer__col
        ul.footer__socials
          li
            a(href="#", aria-label="Вконтакте")
              +icon({name: 'icon-vk', width: 30, height: 30})
          li
            a(href="#", aria-label="Инстаграмм")
              +icon({name: 'icon-insta', width: 30, height: 30})
