//- {
//-   links: [
//-     {
//-       url: string;
//-       name: string;
//-     }
//-   ]
//- }

mixin mainNav({links})

  nav.main-nav#main-nav(data-nav, data-switchable-class="active")&attributes(attributes)
    +toggler({label: 'Открыть меню', targetId: 'main-nav', switchableClass: 'active'})
    ul.main-nav__list
      each item in links
        li
          a(href=`#${item.url}`, data-anchor, data-target-id=item.url) !{item.name}
