.modal {
  $c: &;

  &__wrap {
    padding: 0 20px;
  }

  &__window {
    width: 100%;
    border-radius: 10px;
    transform: scale(1);
    background: $color-white;

    @include min-laptop {
      width: 70%;
    }

    @include min-desktop {
      width: 50%;
    }
  }

  &__header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 40px;
    color: $color-black;

    h3 {
      @include font(28, 34);

      margin: 0;
    }

    p {
      margin: 0;
    }
  }

  &__close {
    @include button-reset;

    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: $color-black;

    &:focus {
      outline: none;
    }

    &:focus-visible::before {
      outline: 1px solid rgba($color: $color-white, $alpha: 0.4);
    }

    &::before {
      @include pseudo;

      left: -10px;
      top: -10px;
      bottom: -10px;
      right: -10px;
    }

    svg {
      display: block;
    }

    @include min-tablet {
      @include interactive-opacity;
    }

    @include min-laptop {
      right: -40px;
      top: 15px;
      color: $color-white;
    }
  }

  &__content {
    padding: 20px;
    max-height: 70vh;
    overflow-y: auto;
    color: $color-black;

    &::-webkit-scrollbar {
      width: 10px;
    }

    &::-webkit-scrollbar-track {
      background-color: $color-white;
      border-radius: 20px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgba($color: $color-black, $alpha: 0.2);
      border-radius: 20px;
    }
  }

  &__image {
    position: relative;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    margin: 0 0 20px 0;

    figcaption {
      position: absolute;
      z-index: $layer-basic;
      left: 0;
      bottom: 0;
      padding: 10px 20px;
      width: 100%;
      text-align: center;
      background-color: rgba($color: $color-black, $alpha: 0.4);
      color: $color-white;
    }

    @include min-tablet {
      margin-right: 40px;
      max-width: 50%;

      float: left;
    }
  }
}
