extends ../base/layout

block variables
  - const mainPage = true

block main
  h1.visually-hidden Drum Legends. Проект ШУМcorp. Обучение игры на барабанах у легенд рок-н-ролла.
  +promo()
  +about()
  +legends().section--light#legends
  +testimonials()
  +contact().section--light

  each item in legendsData
    - const {id, name, team, image, paras, caption} = item;
    +modal({modalId: id, title: name, image, paras, team, caption})
