@use "sass:math";

.legends {
  $c: &;
  $item-width: 250px;

  position: relative;

  &__inner {
    overflow: hidden;
  }

  &__container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 20px;
    width: 100%;

    @include min-laptop {
      min-height: 740px;
    }
  }

  &__snare {
    position: absolute;
    left: 50%;
    top: 50%;
    display: none;
    align-items: center;
    justify-content: center;
    width: 740px;
    max-width: 740px;
    transform: translate(-50%, -50%);
    opacity: 0.5;
    filter: grayscale(61%) saturate(72%) opacity(43%) contrast(134%);
    -webkit-filter: grayscale(61%) saturate(72%) opacity(43%) contrast(134%);
    -moz-filter: grayscale(61%) saturate(72%) opacity(43%) contrast(134%);

    @include min-laptop {
      display: flex;
    }
  }

  &__slider {
    @include full-width-vw;
    padding: 20px 20px 50px;

    @include min-tablet {
      padding: 20px 40px 50px;
    }

    @include min-laptop {
      overflow: visible;
    }
  }

  &__list {
    @include list-reset;
    position: relative;

    @include min-laptop {
      margin: 0 auto;
    }
  }

  &__item {
    @include border-radius;
    @include transition(box-shadow);
    position: static;
    top: 50%;
    left: 50%;
    display: flex;
    width: 200px;
    height: 250px;
    background-color: $color-white;
    box-shadow: $shadow3;
    border-radius: 8px;
    cursor: pointer;
    transition: box-shadow $default-transition-settings, transform $default-transition-settings;

    &:hover {
      box-shadow: $shadow3-hover;
    }

    @include min-laptop {
      position: absolute;
      width: 150px;
      height: 200px;
    }
  }

  &__image {
    position: relative;
    width: 100%;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__caption {
    position: absolute;
    z-index: $layer-basic;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    width: 100%;
    background-color: $color-white;

    h3 {
      @include font(14, 18);
      margin: 0 0 5px 0;
      text-align: center;
    }

    p {
      @include font(12, 16);
      margin: 0;
      text-align: center;
    }
  }

  .swiper-pagination {
    .swiper-pagination-bullet-active {
      background-color: $color-blue !important;
    }

    @include min-tablet {
      bottom: 0 !important;
    }

    @include min-laptop {
      display: none;
    }
  }

  @include min-tablet {
    padding-bottom: 20px;
  }
}
