mixin legends()

  section.section.legends&attributes(attributes)
    .legends__inner.container
      .section__description
        h2 Наши легенды
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio rem repellat recusandae aliquam doloremque eligendi alias quis quidem.

      .legends__container
        .legends__snare
          +img({path: '', image: 'snare', format: 'png', width: 1200, height: 1200, altText: ''})
        ul.legends__list
          li.legends__item
            .legends__caption
              h3 Person Person
              p PersonTeam
            img(src="https://place-hold.it/250x300", alt="")
          li.legends__item
            .legends__caption
              h3 Person Person
              p PersonTeam
            img(src="https://place-hold.it/250x300", alt="")
          li.legends__item
            .legends__caption
              h3 Person Person
              p PersonTeam
            img(src="https://place-hold.it/250x300", alt="")
          li.legends__item
            .legends__caption
              h3 Person Person
              p PersonTeam
            img(src="https://place-hold.it/250x300", alt="")
          li.legends__item
            .legends__caption
              h3 Person Person
              p PersonTeam
            img(src="https://place-hold.it/250x300", alt="")
          li.legends__item
            .legends__caption
              h3 Person Person
              p PersonTeam
            img(src="https://place-hold.it/250x300", alt="")
