include ../../data/legends.data.pug

mixin legends()

  section.section.legends&attributes(attributes)
    .legends__inner.container
      .section__description
        h2 Наши легенды
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio rem repellat recusandae aliquam doloremque eligendi alias quis quidem.

      .legends__container
        .legends__snare
          +img({path: '', image: 'snare', format: 'png', width: 1200, height: 1200, altText: ''})
        .legends__slider.swiper(data-slider-legends)
          ul.legends__list.swiper-wrapper
            each item in legendsData
              - const {id, name, team, image} = item;

              li.legends__item.swiper-slide(data-hystmodal=`#${id}`)
                .legends__caption
                  h3 !{name}
                  p !{team}
                img(src=image, alt="")
          .swiper-pagination.legends__pagination
