mixin header(isMainPage)
  - // TODO логотип плохого качества

  header.header&attributes(attributes)
    .header__inner.container
      span.header__logo
        +img({path: '', image: 'logo', format: 'png', width: 100, height: 28})
      button.button.button--primary.header__button Записаться
      +mainNav({links: [{url: 'legends', name: 'Легенды'}, {url: 'contact', name: 'Записаться'}, {url: 'testimonials', name: 'Отзывы'}]})
