.header {
  $c: &;

  position: sticky;
  z-index: $layer-header;
  left: 0;
  top: 0;
  width: 100%;
  box-shadow: 0 2px 3px rgba($color: $color-black, $alpha: 0.3);
  background-color: $color-white;

  &__inner {
    position: relative;
    z-index: $layer-basic;
    display: flex;
    align-items: center;
    min-height: 80px;
  }

  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    margin-right: auto;
  }

  &__button {
    z-index: $layer-basic;
    margin: 0 20px 0 auto;

    @include min-tablet {
      margin: 0 0 0 30px;
      order: 1;
    }
  }
}
