mixin header(isMainPage)

  header.header(data-header)&attributes(attributes)
    .header__inner.container
      span.header__logo
        +imgNoSrcset({path: '', image: 'logo', format: 'png', width: 100, height: 28, altText: 'Логотип'})
      +mainNav({links: [{url: 'legends', name: 'Легенды'}, {url: 'testimonials', name: 'Отзывы'}, {url: 'contact', name: 'Записаться'}]})
