-
  const legendsData = [
    {
      id: 'legend-1',
      name: 'Person Person',
      team: 'Person Team',
      image: 'https://place-hold.it/250x300',
      paras: [
        'Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui molestias velit impedit provident. Atque dolores asperiores optio voluptas? Nobis temporibus vel asperiores sequi adipisci dolores.',
        'Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui molestias velit impedit provident. Atque dolores asperiores optio voluptas? Nobis temporibus vel asperiores sequi adipisci dolores.',
        'Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui molestias velit impedit provident. Atque dolores asperiores optio voluptas? Nobis temporibus vel asperiores sequi adipisci dolores.',
      ],
    },
    {
      id: 'legend-2',
      name: 'Person Person',
      team: 'Person Team',
      image: 'https://place-hold.it/250x300',
      paras: [
        'Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui molestias velit impedit provident. Atque dolores asperiores optio voluptas? Nobis temporibus vel asperiores sequi adipisci dolores.',
        'Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui molestias velit impedit provident. Atque dolores asperiores optio voluptas? Nobis temporibus vel asperiores sequi adipisci dolores.',
        'Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui molestias velit impedit provident. Atque dolores asperiores optio voluptas? Nobis temporibus vel asperiores sequi adipisci dolores.',
        'Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui molestias velit impedit provident. Atque dolores asperiores optio voluptas? Nobis temporibus vel asperiores sequi adipisci dolores.',
        'Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui molestias velit impedit provident. Atque dolores asperiores optio voluptas? Nobis temporibus vel asperiores sequi adipisci dolores.',
        'Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui molestias velit impedit provident. Atque dolores asperiores optio voluptas? Nobis temporibus vel asperiores sequi adipisci dolores.',
      ],
    },
    {
      id: 'legend-3',
      name: 'Person Person',
      team: 'Person Team',
      image: 'https://place-hold.it/250x300',
      paras: [
        'Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui molestias velit impedit provident. Atque dolores asperiores optio voluptas? Nobis temporibus vel asperiores sequi adipisci dolores.',
        'Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui molestias velit impedit provident. Atque dolores asperiores optio voluptas? Nobis temporibus vel asperiores sequi adipisci dolores.',
        'Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui molestias velit impedit provident. Atque dolores asperiores optio voluptas? Nobis temporibus vel asperiores sequi adipisci dolores.',
      ],
    },
    {
      id: 'legend-4',
      name: 'Person Person',
      team: 'Person Team',
      image: 'https://place-hold.it/250x300',
      paras: [
        'Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui molestias velit impedit provident. Atque dolores asperiores optio voluptas? Nobis temporibus vel asperiores sequi adipisci dolores.',
        'Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui molestias velit impedit provident. Atque dolores asperiores optio voluptas? Nobis temporibus vel asperiores sequi adipisci dolores.',
        'Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui molestias velit impedit provident. Atque dolores asperiores optio voluptas? Nobis temporibus vel asperiores sequi adipisci dolores.',
      ],
    },
    {
      id: 'legend-5',
      name: 'Person Person',
      team: 'Person Team',
      image: 'https://place-hold.it/250x300',
      paras: [
        'Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui molestias velit impedit provident. Atque dolores asperiores optio voluptas? Nobis temporibus vel asperiores sequi adipisci dolores.',
        'Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui molestias velit impedit provident. Atque dolores asperiores optio voluptas? Nobis temporibus vel asperiores sequi adipisci dolores.',
        'Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui molestias velit impedit provident. Atque dolores asperiores optio voluptas? Nobis temporibus vel asperiores sequi adipisci dolores.',
      ],
    },
    {
      id: 'legend-6',
      name: 'Person Person',
      team: 'Person Team',
      image: 'https://place-hold.it/250x300',
      paras: [
        'Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui molestias velit impedit provident. Atque dolores asperiores optio voluptas? Nobis temporibus vel asperiores sequi adipisci dolores.',
        'Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui molestias velit impedit provident. Atque dolores asperiores optio voluptas? Nobis temporibus vel asperiores sequi adipisci dolores.',
        'Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui molestias velit impedit provident. Atque dolores asperiores optio voluptas? Nobis temporibus vel asperiores sequi adipisci dolores.',
      ],
    },
  ]
