-
  const legendsData = [
    {
      id: 'legend-1',
      name: 'Person Person',
      team: 'Person Team',
      caption: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, adipisci.',
      image: {
        path: 'legends/',
        image: 'legend-1',
        format: 'jpg',
        width: '500',
        height: '600',
        altText: 'legend-1',
      },
      paras: [
        '<h1>Cum debitis odio aut omnis nihil.</h1><p>Lorem ipsum dolor sit amet. Ut galisum galisum est galisum iste <em>Aut consequatur eos dolorem culpa sed omnis galisum est libero Quis</em> nam nobis sint. Et temporibus consequatur aut reprehenderit voluptatem aut molestiae tenetur ad suscipit odit aut veritatis dolorem. Non veniam deserunt quo asperiores commodi eos doloribus tempore et reiciendis labore At nihil doloremque et esse voluptatem aut voluptates consectetur.</p><ul><li>Et quisquam blanditiis ut enim soluta.</li><li>Est distinctio dolore sit dolores veritatis sed magnam nisi eum vero dignissimos.</li><li>Non culpa autem 33 nesciunt modi.</li><li>Qui quos corporis ut similique omnis?</li><li>Sit accusamus ipsum in excepturi consequatur ut aspernatur perspiciatis 33 libero repellat.</li><li>Qui cupiditate aliquid sed corrupti voluptatem est expedita aliquam!</li></ul><p><dfn>Qui sint nostrum et optio accusamus. </dfn>Rem voluptatibus iusto est dolorem tempore. <dfn>Sed amet nostrum. </dfn>Ad deserunt delectus et fugit blanditiis aut quidem voluptatem. <dfn>Et praesentium sint. </dfn>Et omnis harum ea voluptatem saepe.</p><h2>Et rerum vitae ad galisum ullam quo quae quasi.</h2><p>Et eius eligendi est aliquid dicta <em>Eum iste</em>. Qui distinctio molestiae et cupiditate earum <strong>Ut praesentium et vitae culpa et nihil illum</strong>.</p><h3>Non fuga doloribus vel enim consequuntur.</h3><p>Aut eveniet numquam <em>Hic ducimus ad minima vero nam impedit nostrum</em> sit galisum libero in obcaecati iure. Est unde nihilet molestiae sit quas amet. Aut maxime autem <a href="https://www.loremipzum.com" target="_blank" rel="noreferrer noopener">Ex praesentium ut nostrum est ratione dolorum</a> et accusantium dolor sed iste necessitatibus ea molestiae pariatur. Ex dicta quibusdam ut commodi reprehenderit ut fugiat voluptatum et voluptates quis hic eveniet aspernatur et cumque.</p><blockquote class="wp-block-quote"><p>Cum fugiat quia eum illum mollitia eum ipsam autem ex quam molestiae.</p></blockquote></div>',
      ],
    },
    {
      id: 'legend-2',
      name: 'Person Person',
      team: 'Person Team',
      caption: 'Lorem ipsum dolor sit amet consectetur adipisici',
      image: {
        path: 'legends/',
        image: 'legend-2',
        format: 'jpg',
        width: '500',
        height: '600',
        altText: 'legend-2',
      },
      paras: [
        'Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui molestias velit impedit provident. Atque dolores asperiores optio voluptas? Nobis temporibus vel asperiores sequi adipisci dolores.',
        'Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui molestias velit impedit provident. Atque dolores asperiores optio voluptas? Nobis temporibus vel asperiores sequi adipisci dolores.',
        'Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui molestias velit impedit provident. Atque dolores asperiores optio voluptas? Nobis temporibus vel asperiores sequi adipisci dolores.',
        'Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui molestias velit impedit provident. Atque dolores asperiores optio voluptas? Nobis temporibus vel asperiores sequi adipisci dolores.',
        'Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui molestias velit impedit provident. Atque dolores asperiores optio voluptas? Nobis temporibus vel asperiores sequi adipisci dolores.',
        'Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui molestias velit impedit provident. Atque dolores asperiores optio voluptas? Nobis temporibus vel asperiores sequi adipisci dolores.',
      ],
    },
    {
      id: 'legend-3',
      name: 'Person Person',
      team: 'Person Team',
      caption: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, adipisci.',
      image: {
        path: 'legends/',
        image: 'legend-3',
        format: 'jpg',
        width: '500',
        height: '600',
        altText: 'legend-3',
      },
      paras: [
        'Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui molestias velit impedit provident. Atque dolores asperiores optio voluptas? Nobis temporibus vel asperiores sequi adipisci dolores.',
        'Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui molestias velit impedit provident. Atque dolores asperiores optio voluptas? Nobis temporibus vel asperiores sequi adipisci dolores.',
        'Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui molestias velit impedit provident. Atque dolores asperiores optio voluptas? Nobis temporibus vel asperiores sequi adipisci dolores.',
      ],
    },
    {
      id: 'legend-4',
      name: 'Person Person',
      team: 'Person Team',
      caption: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, adipisci.',
      image: {
        path: 'legends/',
        image: 'legend-4',
        format: 'jpg',
        width: '500',
        height: '600',
        altText: 'legend-4',
      },
      paras: [
        'Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui molestias velit impedit provident. Atque dolores asperiores optio voluptas? Nobis temporibus vel asperiores sequi adipisci dolores.',
        'Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui molestias velit impedit provident. Atque dolores asperiores optio voluptas? Nobis temporibus vel asperiores sequi adipisci dolores.',
        'Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui molestias velit impedit provident. Atque dolores asperiores optio voluptas? Nobis temporibus vel asperiores sequi adipisci dolores.',
      ],
    },
    {
      id: 'legend-5',
      name: 'Person Person',
      team: 'Person Team',
      caption: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, adipisci.',
      image: {
        path: 'legends/',
        image: 'legend-5',
        format: 'jpg',
        width: '500',
        height: '600',
        altText: 'legend-5',
      },
      paras: [
        'Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui molestias velit impedit provident. Atque dolores asperiores optio voluptas? Nobis temporibus vel asperiores sequi adipisci dolores.',
        'Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui molestias velit impedit provident. Atque dolores asperiores optio voluptas? Nobis temporibus vel asperiores sequi adipisci dolores.',
        'Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui molestias velit impedit provident. Atque dolores asperiores optio voluptas? Nobis temporibus vel asperiores sequi adipisci dolores.',
      ],
    },
    {
      id: 'legend-6',
      name: 'Person Person',
      team: 'Person Team',
      caption: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, adipisci.',
      image: {
        path: 'legends/',
        image: 'legend-6',
        format: 'jpg',
        width: '500',
        height: '600',
        altText: 'legend-6',
      },
      paras: [
        'Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui molestias velit impedit provident. Atque dolores asperiores optio voluptas? Nobis temporibus vel asperiores sequi adipisci dolores.',
        'Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui molestias velit impedit provident. Atque dolores asperiores optio voluptas? Nobis temporibus vel asperiores sequi adipisci dolores.',
        'Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui molestias velit impedit provident. Atque dolores asperiores optio voluptas? Nobis temporibus vel asperiores sequi adipisci dolores.',
      ],
    },
  ]
